<h3> Create a Survey </h3>

<form action="/survey" method="post">
  <div class="form-group">
    <label for="name">Enter the name of the survey:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Create Survey</button>
</form>

<a href='/'>HOME</a>
